In [18]:
import pandas as pd
import xlrd

In [19]:
#leitura de  Dados CSV
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [20]:
## Data frame
df.head(6)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [35]:
#MEtodo groupby : Agrupa por valores unicos de uma ou mais colunas
df.groupby(by='classification')

In [39]:
#MEtodo groupby : Agrupa por valores unicos de uma ou mais colunas dando a media
df.groupby(by='classification').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [40]:
#MEtodo groupby : Agrupa por valores unicos de uma ou mais colunas SOMA
df.groupby(by='classification').sum()

                                          date  temperatura
classification
confortavel                         2020-05-01         24.0
frio                                2020-06-01         20.0
muito quente                        2020-02-01         31.2
quente          2020-01-012020-03-012020-04-01         85.6

In [41]:
#Remoção d euma coluna
df.drop('temperatura',axis=1)

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio

In [61]:
#Copia de um data frame : evita compartilhamento de memoria
#sem o copy, operações feitas no df2 tamber altera ele df
df2 = df.copy()

In [62]:
#Argumento inplace
# inplece= True aplica a trasformação no priprio objeto
#Remoção d euma coluna
df2.drop("date",axis=1, inplace=True)

In [55]:
#Sem o inplece df2 continua o mesmo
df2.head()

  classification
0         quente
1   muito quente
2         quente
3         quente
4    confortavel

In [63]:
df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel