In [ ]:
#indexação de uma table data_frame [ "nome dacoluna1", "nome da coluna 2"]
# Pode ser usado o o metddo Iloc() passo o index da linha ecoluna 
#o new metodo loc() pasadno o nome da linha e coluna (String)

# posso tambem Cessasr por meio d eindexação boleana:
#df[data_frame["nome da coluna"] == "valor da condição"]

# Por meio do .loc
#df.loc[data_frame["nome da coluna"] == "valor da condição", "nome da coluna"]

In [1]:
import pandas as pd
import xlrd

In [3]:
#leitura de  Dados exel
excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")
df= pd.read_excel(excel_file)
df.head()

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel

In [4]:
#selecionar coluna
df["date"]

0   2020-01-01
1   2020-02-01
2   2020-03-01
3   2020-04-01
4   2020-05-01
5   2020-06-01
Name: date, dtype: datetime64[ns]

In [5]:
#Type
type(df["date"])

pandas.core.series.Series

In [7]:
#seleção d emultiplas colunas
df[["date","temperatura"]]

        date  temperatura
0 2020-01-01         29.1
1 2020-02-01         31.2
2 2020-03-01         28.5
3 2020-04-01         28.0
4 2020-05-01         24.0
5 2020-06-01         20.0

In [9]:
#ultilizando o iloc()
df.iloc[:,1]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [11]:
#ultilizando o loc()
df.loc[:,"temperatura"]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [17]:
#indexação por indices de multiplas colunas
df.iloc[:,1:3]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente

In [13]:
#indexação por indices de multiplas colunas
df.loc[:,["temperatura","classification"]]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [14]:
#indexação por indices de multiplas colunas
df.loc[:,"temperatura"]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

# Indexação Booleana

In [19]:
df["date"] = pd.to_datetime(df["date"])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [20]:
#setand o index
df = df.set_index("date")
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [ ]:
#5 primeirs linhas
df.head()

In [22]:
#Indexação booleana
#seleção de exemplos acima de 25 graus
df[df["temperatura"]>=25]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

# Importantetransformar data para datetime, poder ultilizar de indexação booleana

In [24]:
#Indexação booleana
#seleção de exemplos maiores que março
df[df.index <= "2020-03-01"]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [28]:
#Indexação booleana
#seleção de exemplos maiores que março e slice coluna classification
df.loc[df.index <= "2020-03-01",["classification"]]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente

In [31]:
#Indexação booleana iloc()
#seleção de exemplos maiores que março e slice coluna classification
df.iloc[df.index >= "2020-04-01",[-1]]

           classification
date
2020-04-01         quente
2020-05-01    confortavel
2020-06-01           frio