In [ ]:
#indexação de uma table data_frame [ "nome dacoluna1", "nome da coluna 2"]
# Pode ser usado o o metddo Iloc() passo o index da linha ecoluna 
#o new metodo loc() pasadno o nome da linha e coluna (String)

# posso tambem Cessasr por meio d eindexação boleana:
#df[data_frame["nome da coluna"] == "valor da condição"]

# Por meio do .loc
#df.loc[data_frame["nome da coluna"] == "valor da condição", "nome da coluna"]

In [1]:
import pandas as pd
import xlrd

In [3]:
#leitura de  Dados exel
excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")
df= pd.read_excel(excel_file)
df.head()

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel

In [4]:
#selecionar coluna
df["date"]

0   2020-01-01
1   2020-02-01
2   2020-03-01
3   2020-04-01
4   2020-05-01
5   2020-06-01
Name: date, dtype: datetime64[ns]

In [5]:
#Type
type(df["date"])

pandas.core.series.Series

In [7]:
#seleção d emultiplas colunas
df[["date","temperatura"]]

        date  temperatura
0 2020-01-01         29.1
1 2020-02-01         31.2
2 2020-03-01         28.5
3 2020-04-01         28.0
4 2020-05-01         24.0
5 2020-06-01         20.0